/*ルートのフォントサイズを10px指定*/
html {
    font-size: 62.5%;
}

/*Googleフォント使用*/
/*デフォルトを16pxに指定*/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem; /*16px*/
    line-height: 2;
    margin: 0 auto;
}

/*ヘッダー*/
header {
    height: 70px;
    width: 100%;
    text-align: center;
    align-items: center;/*IE用中央寄せ*/
    background-color: #254894;
    display: flex;/*中央寄せ*/
    position: fixed;
    z-index: 10;
}

/*ヘッダーのリンクコンテナの位置調整*/
.headerLinks-container {
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 70px;
    font-weight: bold;
}

/*リンクボタンの位置調整*/
.link {
    display: inline-block;
    width: 175px;
    margin: 0 20px 0 20px;
    color: #EAC418;
    text-decoration: none;
    padding-top: 70px;
    margin-top: -70px;
}

/*リンクにカーソルが載った時のアニメーション*/
.link:hover {
    background-color: #b3d4fc;
    opacity: 0.7;
}

/*リンク遷移の際のページ位置調整*/
.link-ancher {
    padding-top: 70px;
}



/*メイン*/
.main {
    background-color: #F7F8F6;
}

/*top-wrapper Welcomめんべるの文字位置*/
.top-wrapper {
    height: 500px;
    width: 100%;
    padding: 180px 0 180px 0;
    text-align: center;
    background-image: url(img/top.jpg);
    background-size: cover;
}

/*Welcomめんべるの文字の位置や色、大きさ*/
.top-wrapper h1 {
    font-size: 60px;
    color: #254894;
    letter-spacing: 4px;
    margin-top: 180px;
    border-bottom: 3px solid #EAC418;
}

/*ページそれぞれの項目が入るコンテナ全体の幅決定と、全体を中央に寄せる*/
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

/*見出しh2の統一をheaddingで行う*/
.heading h2 {
    color: #254894;
    font-size: 30px;
    letter-spacing: 4px;
    text-decoration-line: underline;
    text-decoration-color: #EAC418;
    padding: 50px;
}

/*FCの概要紹介*/
/*fcテキストh3のみ別の要素を入れたかったので別*/
.fc-text h3 {
    font-size: 30px;
    margin: 50px 0 50px 0;
    letter-spacing: 4px;
    font-weight: bold;
    background-color: #254894;
    color: #EAC418;
}

.fc-text p {
    font-size: 15px;
}

.fc-icon img {
    width: 980px;
    height: 550px;
    min-height: 100%;
}

/*fcメンバー紹介*/
/*FCメンバーの一覧*/
.member-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.contents {
    width: 25%;
    height: 400px;
    margin-bottom: 20px;
}

.contents img {
    height: 250px;
    width: 200px;
}

.content-name {
    letter-spacing: 1px;
    font-weight: bold;
    color: #254894;
    margin: 10px 10px 10px 10px;
}

.content-text {
    font-size: 14px;
}


/*その他SS Ather*/
.ather-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


/*フッター*/
footer {
    height: 160px;
    width: 100%;
    text-align: center;
    background-color: #254894;
}

.footer-container {
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
}

.footer-container h4 {
    font-size: 15px;
    color: #EAC418;
    margin: 0px;
    padding: 0px 15px 15px 15px;
    margin: 30px 0 25px 0;
}

.footer-container p {
    font-size: 13px;
    color: #EAC418;
    margin: 0;
    padding: 0px 15px 0px 15px;
}
